html {
  --background-color: #66cdaa;
  background-color: var(--background-color);
  --category-background-color: #dcdcdc;
  --main-font-color: #3cb371;
  --second-font-color: black;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeInput {
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  width: 120px;
  border: solid 2px var(--main-font-color);
}

.addTask {
  border-radius: 10px;
  border: none;
  padding: 5px;
  width: 200px;
  background-color: var(--main-font-color);
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
/*tasks*/
#tasks {
  font-family: "Libre Franklin", sans-serif;
}

#tasks h3 {
  color: white;
}

#tasks2 {
  font-size: 24px;
}
#tasks h2 {
  color: white;
}

#tasks p {
  color: var(--second-font-color);
  margin: 5px;
}

#tasks p {
  font-size: 14px;
}
.taskCategory {
  display: "flex";
  background-color: var(--category-background-color);
  flex-direction: column;
  min-width: 310px;
  min-height: 350px;
  max-height: 350px;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 30px;
  overflow-y: scroll;
}

.tasks {
  cursor: pointer;
  padding: 10px 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
}

.messages {
  padding: 10px 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
}

.chatMessages {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  width: 50%;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  color: var(--background-color);
}

.myMessages {
  width: 50%;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  align-items: "center";
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: var(--background-color);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.tasks:hover {
  background-color: var(--background-color);
  border-radius: 10px;
}

.fa-times-circle {
  font-size: 80px;
  color: #fa8072;
}

.fa-times {
  color: #fa8072;
}

.fa-check {
  color: green;
  font-size: 30px;
}
/*task*/

.btnFacebook {
  width: 350px;
  cursor: pointer;
  height: 50px;
  border-radius: 4px;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  font-size: 18px;
  font-weight: bold;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  margin: 5px;
  display: inline-block;
}
